.lpm-main-container {
  width: 100%;
  height: 50vh;
  display: flex;
  position: relative;
}

.lpm-text-container {
  position: absolute;
  top: 20%;
  left: 3%;
  z-index: 1;
  text-align: center;
  color: white;
}

.lpm-spline-container {
  width: 100%; /* Take up remaining 50% of the width */
  display: flex;
  justify-content: center;
}

.lpp-hero-text {
  color: whitesmoke;
  text-shadow: -0.5px 0.5px 10px rgba(255, 255, 255, 0.647);
}
