.lpm-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lpm-hero-section {
  width: 100%;
  height: 50vh;
  display: flex;
  position: relative;
  align-items: center;
}

.lpm-text-container {
  width: 60%;
  position: absolute;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: 6%;
  left: -2%;
  z-index: 1;
  text-align: center;
  color: white;
}

.lpm-spline-container {
  width: 100%; /* Take up remaining 50% of the width */
  display: flex;
  justify-content: center;
}

.lpm-hero-text {
  color: whitesmoke;
  transition: all 0.7s;
  text-shadow: -0.5px 0.5px 10px rgba(255, 255, 255, 0.647);
}

.lpm-hero-text:hover {
  text-shadow: -10px 0.5px 10px rgba(255, 255, 255, 0.647);
}

.lpm-cta-button {
  padding: 10px 20px 10px 20px;
  background-color: #333;
  color: #8bc34a;
  font-size: 1.5rem;
  margin-top: 5px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: all 0.7s;
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.386),
    0 4px 8px rgba(255, 255, 255, 0.3), 0 10px 20px rgba(0, 0, 0, 0.2);
}

.lpm-cta-button:hover {
  color: #ffd54f;
  box-shadow: inset -2px 1px 4px rgba(255, 255, 255, 0.386),
    -12px 1px 8px rgba(255, 255, 255, 0.733), 1px 8px 20px rgba(0, 0, 0, 0.2);
}
