.lpp-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lpp-hero-section {
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.lpp-hero-text {
  color: whitesmoke;
  text-shadow: -0.5px 0.5px 10px rgba(255, 255, 255, 0.647);
  transition: all 0.7s;
}
.lpp-hero-text:hover {
  color: whitesmoke;
  text-shadow: -0.5px -8px 10px rgba(255, 255, 255, 0.647);
}

.text-height {
  line-height: 0.9;
}

.text-overlay {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 14%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-51%, -40%); /* Center the text */
  text-align: center;
  color: white; /* Text color */
}

.lpp-cta-button {
  padding: 10px 20px 10px 20px;
  background-color: #333;
  color: #8bc34a;
  font-size: 1.5rem;
  margin-top: 5px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  transition: all 0.7s;
  cursor: pointer;
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.386),
    0 4px 8px rgba(255, 255, 255, 0.3), 0 10px 20px rgba(0, 0, 0, 0.2);
}

.lpp-cta-button:hover {
  color: #ffd54f;
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.386),
    0 -8px 8px rgba(255, 255, 255, 0.3), 0 10px 20px rgba(0, 0, 0, 0.2);
}
