.nav-main-container {
  width: 100%;
  height: 25%;
  background-color: rgb(39, 39, 39);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ba47c7;
  z-index: 999;
}
